# Dependências de execução do ScreenShare 1.0
mss>=9.0.1
opencv-python>=4.10.0
numpy>=1.26.0
pillow>=11.0.0
# Áudio: opcional, porém recomendado.
# No Windows, se a instalação falhar, use:  pip install pipwin && pipwin install pyaudio
# No Linux (Debian/Ubuntu):  sudo apt install portaudio19-dev python3-pyaudio
sounddevice==0.5.6
